<%provide(:title, "About") %>

<!-- page header -->
<div class="tp-page-head">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1> About Arusifiti </h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.page header -->
<div class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-md-3 side-nav" id="leftCol">
				<div class="hide-side">
					<ul class="listnone nav" id="sidebar">
						<li class="active"><%= link_to "About us", '#aboutus' %></li>
						<li><%= link_to "Meet The Team", '#team' %></li>
						<li><%= link_to "How it works", '#howwork' %></li>
						<li><%= link_to "Our History", '#history' %></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 content-right">
				<div class="row">
					<div class="call-to-action well-box" id="aboutus">
							<h1> For the perfect wedding </h1>
							<h3 class="point">Advice &amp; Guide. | Save your date. | Forever free.</h3>
							<%= image_tag("cycle-graphic.png", :alt => "Wedding couple just married", :class => "graphic img-responsive") %>
							<%= link_to "Get start today", '#', :class => "btn tp-btn-default tp-btn-lg" %>
					</div>
					<div class="col-md-12">
						<div class="col-md-12 aboutus">
							<h1>We want you to have a perfect wedding.</h1>
							<p class="lead">Welcome to Arusifiti An online Wedding Vendor Directory, launch in 2015. We pride our selves on being a trusted friend someone to take on this journey with you making it fun from the start.</p>
							<p>We will  support you and advise you. We are never short of suggestions or inspiring ideas.Our matchless, which makes finding beautiful wedding venue easier and one less thing for you to worry about.With our inspir blog, suggestions and sensational offers, no one understands weddings better than we do.</p>
						</div>
					</div>
					<div class="col-md-12 team-section" id="team">
						<h1>Our Founder and CEO</h1>
						<div class="row">

							<div class="col-md-3">				
								<%= image_tag("founder.jpg", :alt => "Founder-Image", :class => "img-responsive img-circle") %>		
							</div>
							
							<div class="col-md-8">
								<h2>Lawrence Chege</h2>
								<p>Nullam pellentesque congue ante ellentesque eget odio faucibus laoreet at pulvinar augueras ornare tincidunt nibh sodales tempus urabitur justo elit laoreet sed elit quis auctor placerat magna.</p>
								<p>Find him on Twitter <a href="#">@lawchege</a></p>
							</div>
						</div>
						<div class="row team-section">
							<div class="col-md-3 text-center team-block">
									<div class="team-pic">
										<!-- team pic --> 
										<%= link_to image_tag("team-pic1.jpg", alt: "", class: "img-responsive"),'#' %>	
									</div>
									<!-- /.team pic -->
									<h2><a href="#">Irene Wambui</a></h2>
									<span> Operations Officer</span>

									<div class="">
					                	<%= link_to ("#") do %> <i class='fa fa-twitter-square'> </i> <% end %>
					                 	<%= link_to ("#") do %> <i class='fa fa-linkedin-square'> </i> <% end %>
                					</div>

									</div>
									<div class="col-md-3 text-center team-block">
											<div class="team-pic">
												<!-- team pic --> 
												<%= link_to image_tag("team-pic7.jpg", alt: "", class: "img-responsive"),'#' %>
											</div>
											<!-- /.team pic -->
											<h2><a href="#">Marie Natasha</a></h2>
											<span>Operations Officer</span>

											<div class="">
							                	<%= link_to ("#") do %> <i class='fa fa-twitter-square'> </i> <% end %>
							                 	<%= link_to ("#") do %> <i class='fa fa-linkedin-square'> </i> <% end %>
		                					</div>

											</div>
											<div class="col-md-3 text-center team-block">
													<div class="team-pic">
														<!-- team pic --> 
														<%= link_to image_tag("team-pic8.jpg", alt: "", class: "img-responsive"),'#' %>	
													</div>
													<!-- /.team pic -->
													<h2><a href="#">Avery Goodly</a></h2>
													<span>Technical Officer</span>

													<div class="">
									                	<%= link_to ("#") do %> <i class='fa fa-twitter-square'> </i> <% end %>
									                 	<%= link_to ("#") do %> <i class='fa fa-linkedin-square'> </i> <% end %>
				                					</div>

													</div>
													<div class="col-md-3 text-center team-block">
															<div class="team-pic">
																<!-- team pic --> 
																<%= link_to image_tag("team-pic2.jpg", alt: "", class: "img-responsive"),'#' %> 
															</div>
															<!-- /.team pic -->
															<h2><a href="#">Jimmie Changa</a></h2>
															<span>Sales Executive </span>

															<div class="">
											                	<%= link_to ("#") do %> <i class='fa fa-twitter-square'> </i> <% end %>
											                 	<%= link_to ("#") do %> <i class='fa fa-linkedin-square'> </i> <% end %>
						                					</div>

															</div>

														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 how-it-works" id="howwork">
														<h1>How It Works</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac purus eleifend, eleifend risus feugiat, consectetur extiam fermentum ligula ipsumincipsum dolor sit quis nisi dolor. </p>
														<div class="row">
															<div class="col-md-6 how-it-desc">
																<h2>Find the Vender</h2>
																<p>Sed id mollis exnteger eu veeger eu vehicula exliquam ultrices quis sem sed rutrumpendisse potentt laoreet faucibusus.</p>
															</div>
															<div class="col-md-4 text-center how-it-icon-vendor-find"> </div>
														</div>
														<div class="row">
															<div class="col-md-4 text-center how-it-icon-list"> </div>
															<div class="col-md-6 how-it-desc">
																<h2>Compare Proposal</h2>
																<p>Integer eu vehicula ex. Aliquam ultrices quis sem sed rutrum. Suspendisse potenti. Nam commodo nisi ut laoreet faucibus.</p>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6 how-it-desc">
																<h2>Hire the Right Vender</h2>
																<p>Aliquam ultrices quis sem sed rutrumpendisse potenti. Nam commodo nisi ut laoreet faucibus lacus neque mollis nequeue libero at quam. </p>
															</div>
															<div class="col-md-4 text-center how-it-icon-vendor-done"> </div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 history" id="history">
														<h1>History</h1>
														<p>Cras acmetus sed arcu posuere interdu murabitur nunc sapienravida nec tempus eumn fermentum vitae erat raesent hendrerit ligula urnaonsec teturipsum estibulum justo ligula.</p>
													</div>
													<div class="col-md-12">
														<ul class="timeline">
															<li>
																<div class="tl-circ"></div>
																<div class="timeline-panel">
																	<div class="history-pic"> 
																		
																		<%= image_tag("post-pic.jpg", :alt => "", :class => "img-responsive") %> </div>
																	
																	<div class="tl-heading">
																		<h1>2008</h1>
																	</div>
																	<div class="tl-body">
																		<h3>The Wedding Vandor Begins</h3>
																		<p>Nullam ultricies venenatis enim sed sagittis. Donec sodales, eros necerisque suscipitonec
																			vitae elit dictum lectus gravida malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
																		</div>
																	</div>
																</li>
																<li class="timeline-inverted">
																	<div class="tl-circ"></div>
																	<div class="timeline-panel">
																		<div class="history-pic"> 
																		
																			<%= image_tag("post-pic.jpg", :alt => "", :class => "img-responsive") %> </div>
																		
																		<div class="tl-heading">
																			<h1>2012</h1>
																		</div>
																		<div class="tl-body">
																			<h3>The First Office</h3>
																			<p>Nullam ultricies venenatis enim sed sagittis. Donec sodales, eros necerisque suscipitonec
																				vitae elit dictum lectus gravida malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
																			</div>
																		</div>
																	</li>
																	<li>
																		<div class="tl-circ"></div>
																		<div class="timeline-panel">
																			<div class="history-pic"> 
																		
																			<%= image_tag("post-pic.jpg", :alt => "", :class => "img-responsive") %> </div>

																			<div class="tl-heading">
																				<h1>2014</h1>
																			</div>
																			<div class="tl-body">
																				<h3>Expansion </h3>
																				<p>Nullam ultricies venenatis enim sed sagittis. Donec sodales, eros necerisque suscipitonec
																					vitae elit dictum lectus gravida malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
																				</div>
																			</div>
																		</li>
																		<li class="timeline-inverted">
																			<div class="tl-circ"></div>
																			<div class="timeline-panel">
																				<div class="history-pic"> 
																		
																				<%= image_tag("post-pic.jpg", :alt => " ", :class => "img-responsive") %> </div>

																				<div class="tl-heading">
																					<h1>2015</h1>
																				</div>
																				<div class="tl-body">
																					<h3>Today Wedding Vandor </h3>
																					<p>Nullam ultricies venenatis enim sed sagittis. Donec sodales, eros necerisque suscipitonec
																						vitae elit dictum lectus gravida malesuadaInteger sapien nibh, bibendum a arcu quis.</p>
																					</div>
																				</div>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>