
<div class="slider-bg">

	<!-- slider start-->
  <div class="hero-item" >
		<div><%= image_tag("arusi-img-1.jpg", alt: "Wedding couple just married") %> </div>    	
	</div>
  <!-- slider start-->
  
	<div class="find-section"><!-- Find search section-->
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-8 finder-block">
            <div class="finder-caption">
              <h1>Find your perfect Wedding Vendor</h1>
              <p>Over <strong>1200+ Wedding Vendor </strong>for you special date &amp; Find the perfect venue &amp; save you date.</p>
            </div>

            <div class="finderform">
            <%= form_tag ('/search') do %>
                
                <div class="form-group col-md-9 no-padding">
                	
                <%= text_field_tag 'search', nil, class: 'form-control', placeholder: 'What are you looking for...' %>

                </div>               
                <button type="submit" class="btn tp-btn-default tp-btn-lg">Find Vendors</button>
             <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- /.Find search section-->

</div>

<!-- slider end-->

 <div class="spacer feature-section"><!-- Feature Blog Start -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 tp-title-center">
          <h1>Your Wedding Planing Start Here</h1>
        </div>
      </div>
      <div class="row feature-center"><!-- feature center -->
        <div class="col-md-4 feature-block"><!-- feature block -->
          <div class="feature-icon-vendor"></div>
          <h2>Find local vendor</h2>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
        </div><!-- /.feature block -->
        <div class="col-md-4 feature-block"><!-- feature block -->
          <div class="feature-icon-mail"></div>
          <h2>Contact vendor</h2>
          <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose 
            (injected humour and the like).</p>
        </div><!-- /.feature block -->
        <div class="col-md-4 feature-block"><!-- feature block -->
          <div class="feature-icon-couple"></div>
          <h2>Save Your Date</h2>
          <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        </div><!-- /.feature block -->
      </div><!-- /.feature center -->
    </div>
  </div>
  <!-- Feature Blog End -->

  <div class="tp-section spacer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 tp-title-center">
          <h1>Featured Wedding Vendor</h1>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 vendor-box"><!-- venue box start-->
          <div class="vendor-image"><!-- venue pic --> 
          	<%= link_to image_tag("vendor-1.jpg", alt: "wedding venue", class: "img-responsive"),'#' %>	
            <div class="feature-label"></div>
            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
          </div>
          <!-- /.venue pic -->
          <div class="vendor-detail"><!-- venue details -->
            <div class="caption"><!-- caption -->
              <h2><a href="#" class="title">Venue Vendor Title</a></h2>
              <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
            </div>
            <!-- /.caption -->
            <div class="vendor-price">
              <div class="price">$390 - $600</div>
            </div>
          </div>
          <!-- venue details --> 
        </div>
        
        <!-- /.venue box start-->
        <div class="col-md-4 vendor-box"><!-- venue box start-->
          <div class="vendor-image"><!-- venue pic --> 
          	<%= link_to image_tag("vendor-4.jpg", alt: "wedding venue", class: "img-responsive"),'#' %>	
            <div class="rated-label"></div>
            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
          </div>
          <!-- /.venue pic -->
          <div class="vendor-detail"><!-- venue details -->
            <div class="caption"><!-- caption -->
              <h2><a href="#" class="title"> Wedding Dress Vendor Title</a></h2>
              <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
            </div>
            <!-- /.caption -->
            <div class="vendor-price">
              <div class="price">$390 - $600</div>
            </div>
          </div>
          <!-- venue details --> 
        </div>
        <!-- /.venue box start-->
        <div class="col-md-4 vendor-box"><!-- venue box start-->
          <div class="vendor-image"><!-- venue pic --> 
          	<%= link_to image_tag("vendor-3.jpg", alt: "wedding venue", class: "img-responsive"),'#' %>	
            <div class="popular-label"></div>
            <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
          </div>
          <!-- /.venue pic -->
          <div class="vendor-detail"><!-- venue details -->
            <div class="caption"><!-- caption -->
              <h2><a href="#" class="title">Vendor Photographer Title</a></h2>
              <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
            </div>
            <!-- /.caption -->
            <div class="vendor-price">
              <div class="price">$390 - $600</div>
            </div>
          </div>
          <!-- venue details --> 
        </div>
      </div>
    </div>
  </div>