/*
 Arusifiti | Wedding vendor Directory

* MAIN COLOR THEME
* DEFAULT: #75BE4B;
* PRIMARY: #EB0F92;

/* Table of Content
==================================================
01. - General CSS
02. - Home Page 
03. - Listing Page
04. - Details Page.
    0.4.1 - Simple Details
    0.4.2 - Tabbed Details Page
05. - About Us
06. - Blog Page
07. - Blog Details Page
08. - Pricing Page
09. - Faq/ Help Page
10. - Contact us Page
11. - Singup / Login Pages
12. - 404 Error Page
13. - Shortcodes
14. - Most Used / Repetable CSS
15. - Woo-Shopping Page
16. - Custom Used CSS
17. - Media Query - For Mobile Device

*
*
*

 *= require_self
 *= require bootstrap-datepicker3
 *= require font-awesome
 *= require build
 *= require_tree .

 */

 @charset "UTF-8";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";	

//-----------------------------
// 01 - General CSS - Basic setup Typography and Template Input css
//------------------------------

@import 
  url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import 
  url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300);

body {
	font: 400 12px/1.6 'Montserrat', Open Sans, sans-serif;
    font-size: 16px;
    line-height: 27px;
    background-color: #fff;
    color: #706a68;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0 20px 0px;
    color: #3c3634;
}

h1 {
    font-size: 28px;
    letter-spacing: -1px;
}

h2 {
    font-size: 18px;
    letter-spacing: -1px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

p {
    margin-bottom: 30px;
}

ul {
    padding: 0px;
}

a {
    color: #75BE4B;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Montserrat', sans-serif;
}

a:focus, a:hover {
    color: #EB0F92;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e9e6e0;
}
/*--------------------
	Form Field 
---------------------*/
input.form-control {
    height: 60px;
    background-color: #fdfdfb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 2px solid #75be4b;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    font-family: 'Montserrat', sans-serif;
}

select.form-control {
    height: 48px;
    background-color: #fdfdfb;
    margin-bottom: 0px;
    border: 1px solid #e9e6e0;
    color: #2b212f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #706a68;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background: image-url("arrow.png") no-repeat 95% 50%;
    padding-right: 15px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    font-family: 'Montserrat', sans-serif;
}

textarea.form-control {
    background-color: #fdfdfb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e9e6e0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

label.control-label {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #706a68;
    font-weight: normal;
}

button.tp-btn-primary {
    height: 48px;
}

button.tp-btn-default {
    height: 60px;
}

.required {
    color: red;
}

::selection {
    background: #75BE4B;
    color: #fff;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

/*-------- Section Space CSS -------*/

.spacer {
    padding-top: 80px;
    padding-bottom: 80px;
}

/*------- Title CSS --------*/

.tp-title {
    margin-bottom: 30px;
}

.tp-title-center {
    margin-bottom: 30px;
    text-align: center;
}

/*------- Section Color CSS --------*/

.tp-section {
    background-color: #f4f2ec;
    border-top: 1px solid #e1ded5;
    border-bottom: 1px solid #e1ded5;
}

.title {
    color: #3c3634;
}

/*------- Bullet Point CSS --------*/
ul.check-circle {
    margin-bottom: 30px;
}

.check-circle li {
    position: relative;
    list-style: none;
    padding-left: 10px;
}

.check-circle li:before {
    font-size: 16px;
    margin-right: 10px;
    font-family: FontAwesome;
    top: 0;
    left: -5px;
    color: #588F38;
    content: "\f058";
}

ul.listnone {
    list-style: none;
    margin: 0px;
}

.angle-double-right li {
    position: relative;
}

.angle-double-right li:before {
    font-size: 16px;
    margin-right: 10px;
    font-family: FontAwesome;
    top: 0;
    left: -5px;
    color: #7d7d7d;
    content: "\f101";
}
/*------------------------
	Template Buttons 
--------------------------*/
.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    border: 2px solid #75be4b;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.tp-btn-default {
    background-color: #75BE4B;
    color: #fff;
}

.tp-btn-default:hover {
    background-color: #588F38;
    color: #fff;
}

.tp-btn-primary {
    background-color: #EB0F92; 
    color: #fff;
}

.tp-btn-primary:hover {
    background-color: #8D134A;
    color: #fff;
}

.tp-btn-light {
    background-color: #e9e6e0;
    color: #706a68;
}

.tp-btn-light:hover {
    background-color: #588F38;
    color: #fff;
}

.tp-btn-small {
    padding: 4px 10px;
}

.tp-btn-lg {
    padding: 14px 14px;
}

.btn-reset {
    padding: 5px 10px;
    font-size: 11px;
    background-color: #fcfbf9;
    border: 1px solid #e9e6e0;
    margin: 10px 0px 0px 0px;
}

.btn-reset i {
    padding-right: 5px;
}

.grid-btn, .list-btn {
    border: 1px solid #e9e6e0;
    font-size: 14px;
    color: #706a68;
}

.grid-btn:hover, .list-btn:hover {
    color: #EB0F92;
}

.grid-btn {
}

.grid-btn.active, .list-btn.active {
    background-color: #fff;
    box-shadow: none;
    color: #EB0F92;
}

.list-btn {
}
/*--------------------
	Main Container 
----------------------*/
.main-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*--------------------
	Content + Left Sidebar 
----------------------*/
.content-left {
}

.right-sidebar {
}

/*------------------------
	 02. Home Page 
--------------------------*/
/*------ Top Bar -------*/
.search-area {
}

.top-message {
}

.top-message p {
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
}

.top-bar {
    background-color: #75BE4B;
    padding: 4px 0px;
}

.top-links {

}

.top-links ul {
    float: right;
}
ul .dropdown-menu { 
    top: 25px;
    background-color: #75be4b;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.top-links li {
    float: left;
    padding-right: 20px;
    position: relative;
}

.top-links li:last-child {
    padding-right: 0px;
}
.top-links li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.top-links .dropdown span.fa {
    padding-left: 4px;
}

.top-links .dropdown-menu li a {
    color: #fff;
    margin: 5px -5px;
}
.top-links .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #3c763d;
}

.top-links li a:hover {
    color: #3c763d;
}

.tp-nav {
    background-color: #fff;
    z-index: 9999;
    position: relative;
}

.tp-nav .navbar-brand {
    display: block;
    width: 170px;
    padding: 20px;
    background: image-url("logo.png") 14px 14px no-repeat;
}

/*------ Template Navigation -------*/
.tp-nav .navbar-default {
    background-color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

.tp-nav .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #fff;
}

.tp-nav .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: #fff;
    color: #3c3634;
    border-radius: 2px 2px 0px 0px;
}
/*------ Dropdown Menu ---------*/

.divide {
	border-bottom: 1px solid #e9e6e0;
}
.dropdown-menu {
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    box-shadow: 0 6px 12px rgba(0,0,0,.100);
}

.tp-nav .dropdown-menu {
    border: none;
    border-radius: 2px;
}

.tp-nav .dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
}
.dropdown-menu .col-sm-6 ul {
    list-style-type: none;
}
.dropdown-menu .col-sm-6 ul li a {
    color: #333;
    display: block;
    padding: 4px;
    clear: both;
    font-weight: 400;  
}
.dropdown-menu .col-sm-6 ul li a:hover{
    color: #75BE4B;  
}
.tp-nav .dropdown-menu>li>a:focus, .tp-navigation .dropdown-menu>li>a:hover {
    text-decoration: none;
}

.tp-nav .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #75BE4B;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
}

.tp-nav .navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 20px
}

.tp-nav .navbar-default .navbar-nav>li>a span.fa {
    padding-left: 4px;
}

.tp-nav .dropdown-submenu {
    position: relative;
}

.tp-nav .navbar-right .dropdown-menu {
    left: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    min-width: 170px;
    top: 50px;
    background-color: #fff;
}

.tp-nav .navbar-right .small-dropdown-menu {
    left: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-width: 260px;
    top: 50px;
    background-color: #fff;
}

.tp-nav .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: -1px;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
}

.tp-nav .dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    float: right;
    width: 0;
    height: 0;
    font-family: FontAwesome;
}

.tp-nav .dropdown-menu>.active>a, .tp-navigation .dropdown-menu>.active>a:focus, .tp-navigation .dropdown-menu>.active>a:hover {
    text-decoration: none;
    background-color: #25B679;
    outline: 0;
}

.tp-nav .dropdown-submenu.pull-left {
    float: none;
}

.tp-nav .dropdown-submenu.pull-left>.dropdown-menu {
    right: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px 0 2px 2px;
    -moz-border-radius: 0px 0 2px 2px;
    border-radius: 0px 0 2px 2px;
}
/*---- Mega Menu ------*/
.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 30px 20px!important;
    width: 100%;
    border-top-left-radius: 2px!important;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 4px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #3c3634;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #EB0F92;
    background-color: transparent;
}

.mega-dropdown-menu .dropdown-header {
    color: #3c3634;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e6e0;
    padding: 0px 0px 10px 0px;
}

.mega-dropdown-menu .dropdown-header i {
    padding-right: 10px;
    color: #588F38;
}

.mega-menu-link {
}
/*small*/
.small-dropdown {
    position: static !important;
}

.small-dropdown-menu {
    padding: 30px 20px!important;
    width: 50%;
    border-top-left-radius: 2px!important;
}
.small-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.small-dropdown-menu > li > ul > li {
    list-style: none;
}

.small-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 4px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #3c3634;
    white-space: normal;
}

.small-dropdown-menu > li ul > li > a:hover,
.small-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    /*color: #EB0F92;*/
    color: #75BE4B;
    background-color: transparent;
}

.small-dropdown-menu .dropdown-header {
    color: #3c3634;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e6e0;
    padding: 0px 0px 10px 0px;
}

.small-dropdown-menu .dropdown-header i {
    padding-right: 10px;
    color: #588F38;
}
.small-dropdown-menu {
    padding: 30px 20px!important;
    width: 50%;
    border-top-left-radius: 2px!important;
}

.small-menu-link {
}
/*----- Mobile Toggle Button-------*/
.tp-nav .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.tp-nav .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #588F38;
}

.tp-nav .navbar-default .navbar-collapse, .navbar-default .navbar-form {
/*    border-color: #75be4b;*/
    border: none;
}

.tp-nav .navbar-default .navbar-toggle .icon-bar {
    background-color: #75BE4B;
}

// home page Hero


// .hero-item {
//     opacity: 0.5;
// }   

.hero-item img {
    display: block;
    opacity: 0.3;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.90);
}

.hero-bg {
    position: relative;
    background: #eee;
}

.hero-pic img {
    position: relative;
    z-index: -1;
}

.hero-pic {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: -moz-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(16, 14, 13, 1)), color-stop(100%, rgba(16, 14, 13, 0)));
    background: -webkit-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: -o-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: -ms-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: linear-gradient(to bottom, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 );
}

/*----- Homepage Template Slider --------*/
#slider .item img {
    opacity: 0.5;
    display: block;
    width: 100%;
    height: auto; 
}

.slider-bg {
    position: relative;
    background-color: rgba(0, 0, 0, 0.89);
}

.slider {

}

.slider-pic img {
    position: relative;
    z-index: -1;
}

.slider-pic {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: -moz-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(16, 14, 13, 1)), color-stop(100%, rgba(16, 14, 13, 0)));
    background: -webkit-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: -o-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: -ms-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    background: linear-gradient(to bottom, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 );
}
/*---------- Home Page Finder Section ---------*/
.find-section {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0%;
    right: 0%;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.finder-block {
}

.finder-caption {
    margin-bottom: 10px;
    display: inline-block;
}

.finder-caption h1 {
    font-size: 42px;
    letter-spacing: -1px;
    font-weight: 700;
}

.finder-caption h1, .finder-caption p {
    margin-bottom: 20px;
    color: #fff;
}

.finderform {
    // background-color: rgba(0, 0, 0, 0.30);
    padding: 20px;
}

.finderform .col-md-5 {
    padding-right: 15px;
}

.finderform .tp-btn-lg {
    padding: 14px 14px;
}

/*------- Top Location ------------*/
.top-location {
}

.top-location .location-block {
    margin-bottom: 30px;
}
/*--------Testimonial ---------*/
.tp-testimonial {
}

.tp-testimonial .owl-pagination {
    position: absolute;
    bottom: -60px;
}

.testimonial-block {
    text-align: center;
    padding: 30px;
}

.testimonial-block .couple-pic {
    margin-bottom: 30px;
}

.feedback-caption p {
    font-size: 18px;
    font-style: italic;
    line-height: 36px;
}

.couple-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.couple-info .name {
    text-transform: uppercase;
    color: #3c3634;
}

.couple-info .date {
    font-size: 12px;
}
/*------- Call To Action ----------*/
.tp-call-action {
}

.couple-block, .vendor-block {
    text-align: center;
}

/*.couple-icon, .vendor-icon {
    margin-bottom: 30px;
}

.couple-icon img, .vendor-icon img {
    width: 160px;
}*/
.couple-icon {
    height: 160px;
    margin-bottom: 30px;
    background: image-url("couple.svg") 195px 0px no-repeat; 
}
.vendor-icon {
    height: 160px;
    margin-bottom: 30px;
    background: image-url("vendor.svg") 195px 0px no-repeat; 
}
/*---------Template Footer ----------*/
.footer {
    background-color: #322e2c;
    padding-top: 60px;
    padding-bottom: 30px;
}

.ft-aboutus {
}

.newsletter {
}

.ft-aboutus, .ft-link, .newsletter {
    margin-bottom: 30px;
}

.footer h2 {
    color: #fff;
}

.ft-link {
}

.ft-link ul {
    padding: 0px;
}

.ft-link ul li {
    list-style: none;
}

.ft-link ul li a {
    color: #706a68;
}

.ft-link ul li a:hover {
    color: #EB0F92;
}

.social-icon {
    margin-top: 20px;
}

.social-icon ul {
    padding: 0px;
}

.social-icon ul li {
    list-style: none;
    display: inline-block;
    padding-right: 8px;
}

.social-icon ul li a {
    font-size: 24px;
    color: #706a68;
}

.social-icon ul li a:hover {
    color: #EB0F92;
}
/* ----- Template Tiny Footer -------*/
.tiny-footer {
    background-color: #292624;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #403d3b;
    font-size: 14px;
}

/*-----------------------
	03. Listing Page 
------------------------*/
/*---- Venue Thumbnail -------*/
.venue-box {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.venue-detail {
    padding: 0px;
    border: 1px solid #e9e6e0;
    border-radius: 0px;
    border-top: transparent;
    background-color: #fff;
}

.venue-detail .caption {
    padding: 30px;
}

.venue-detail .location {
    font-size: 14px;
    margin-bottom: 10px;
}

.venue-lable {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.venue-lable .label {
    display: inline;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
}

.venue-lable .label-default {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.venue-info {
    background-color: #fcfbf9;
    border-top: 1px solid #e9e6e0;
    height: 84px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
/*-------Thumbnail Label------*/ 
.popular-label, .rated-label, .feature-label {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 72px;
    height: 72px;
}

.popular-label {
    background: image-url("popular.png") 0px 0px;
}

.rated-label {
    background: image-url("top-rated.png") 0px 0px;
}

.feature-label {
    background: image-url("feature-label.png") 0px 0px;
} 
 /*------- Vendor Thumbnail Simple --------*/
.vendor-box {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.vendor-box .rating {
}

.vendor-box .capacity {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.vendor-detail {
    padding: 0px;
    border: 1px solid #e9e6e0;
    border-radius: 0px;
    border-top: transparent;
    background-color: #fff;
}

.vendor-detail .caption {
    padding: 30px;
    display: inline-block;
}

.vendor-detail .location {
    font-size: 14px;
    margin-bottom: 10px;
}

.vendor-image {
    position: relative;
    overflow: hidden;
}

.vendor-image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: .9;
}

.vendor-image a:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.vendor-price {
    background-color: #fcfbf9;
    padding: 9px 29px;
    border-top: 1px solid #e9e6e0;
}

.vendor-price .price {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #3c3634;
}

.rating .rating-count {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5px;
    color: #706a68;
}

.vendor-box-grid {
}

.vendor-box-grid .no-right-pd {
    padding-right: 0px;
}

.vendor-box-grid .vendor-image {
    height: 212px;
}

.vendor-box .effect-oscar h2 a {
    color: #fff;
}

.favourite-bg {
    background: #fcfbf9;
    border-radius: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 9px 12px 5px 12px;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.2);
}

.favourite-icon {
}
/*------------Listing Map + Row  ----------*/
.listing-wrap {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.map-wrap {
    padding-left: 0px;
    padding-right: 0px;
}

.map-wrap #googleMap {
    width: 100%;
    height: 800px;
}

.vendor-listing {
    margin-top: 30px;
}

/*----------------------------
	04. Venue Details Page
------------------------------*/
.venue-header {
    position: relative;
}

.venue-head {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.venue-head h1 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 10px;
}

.venue-head .title {
    border-bottom: 1px solid #504849;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.venue-head .location {
    color: #fff;
}

.venue-head .location i {
    padding-right: 10px;
}

.rating-box, .venue-action {
    margin-bottom: 20px;
}

.venue-action {
    text-align: right;
}

.label-primary {
    background-color: #75BE4B;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: 700;
}

.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #EB0F92;
    color: #fff;
}

.address {
    margin-bottom: 0px;
}

.address i {
    padding-right: 10px;
}

.page-description {
}

.venue-details {
}

.venue-amenities {
}

.venue-amenities ul li.list-group-item {
    border: 1px solid #e9e6e0;
}

.why-venue {
}

.venue-head {
}

.rating {
    margin: 0px;
}

.rating i {
    color: #ffc513;
}

.side-box {
    background-color: #fff;
    padding: 28px;
    border: 1px solid #e9e6e0;
    margin-bottom: 30px;
}
/*-------------------
	Tabbed Detils Page 
--------------------*/
#searchform {
    z-index: 9999;
}

.tabbed-page {
}

.tab-page-header {
    margin-bottom: 30px;
}

.tab-page-header .title {
}

.tab-page-header .location i {
    padding-right: 10px;
}

.tabbed-page .venue-data .venue-info {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #e9e6e0;
}

.tabbed-page .venue-info {
    background-color: #fcfbf9;
    border-top: 1px solid #e9e6e0;
    height: 84px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.tabbed-page .capacity {
    border-right: 1px solid #e9e6e0;
}

.capacity, .pricebox {
    width: 50%;
    float: left;
    padding: 15px 20px;
    font-size: 12px;
}

.price, .cap-people {
    font-size: 18px;
    letter-spacing: -1px;
    color: #3c3634;
    display: block;
}
/*------- Thumbnail Slider----------*/
#sync1 .item {
    background: #fff;
    margin: 5px;
}

#sync2 .item {
    background: #fff;
    padding: 10px 0px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

#sync2 .item h1 {
    font-size: 18px;
}

#sync2 .synced .item {
}
/*------ Vendor Profile Sidebar-----------*/
.profile-sidebar {
}

.profile-userpic {
    text-align: center;
    width: 154px;
    margin-right: auto;
    margin-left: auto;
}

.profile-sidebar .profile-usertitle {
    margin-top: 30px;
}

.profile-sidebar .fa {
    color: #75BE4B;
    padding-right: 10px;
}

.profile-usertitle-name {
    text-align: center;
}

.profile-address, .profile-email, .profile-website {
    margin-bottom: 10px;
}

.profile-address {
}

.profile-email {
}

.profile-website {
}

ul.follow-icon {
    margin-bottom: 0px;
}

ul.follow-icon li {
    padding-right: 10px;
    display: inline;
}

ul.follow-icon li a {
    font-size: 32px;
}
/*------- Page sidebar --------*/
.page-sidebar {
}

.page-sidebar .venue-info {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #e9e6e0;
}
/*--------Custom Review -----------*/
.customer-review, .review {
    margin-top: 30px;
    margin-bottom: 30px;
}

.customer-review h1 {
    margin-bottom: 30px;
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 30px;
}

.review-list .arrow:after, .review-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.review-list .panel.arrow.left:after, .review-list .panel.arrow.left:before {
    border-left: 0;
}
/*****Left Arrow*****/
/*Outline effect style*/
.review-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
	/*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
}
/*Background color effect*/
.review-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
	/*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
}
/*****Right Arrow*****/
  /*Outline effect style*/
.review-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
	/*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
}
/*Background color effect*/
.review-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
	/*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
}
/*------- Write A Review ----------*/
.review-post {
    margin-top: 10px;
}

.review-list .review-user {
}

.review-date {
}

.review-list .review-post {
    margin-top: 20px;
}

.user-pic img, .profile-userpic img {
    border: 4px solid #e9e6e0;
    border-radius: 100%;
}

.review-list .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

.review-list .panel-default {
    border-color: #e9e6e0;
}

.review-list .panel-body {
    padding: 30px;
}

.review-form {
}

.rating-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.map {
    width: 100%;
    min-height: 420px;
    cursor: pointer;
}
/*-------------------
	 05. - About us page 
---------------------*/
.aboutus {
}

.call-to-action {
    text-align: center;
    background: #f3f1eb;
    padding: 50px;
}

.call-to-action h3.point {
    text-transform: uppercase;
    color: #706a68;
    font-size: 14px;
}

.call-to-action h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
}

.call-to-action .graphic {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.team-section {
    margin-bottom: 60px;
    margin-top: 60px;
}
/*---------  How it works --------*/
.how-it-icon-vendor-find {
    width: 290px;
    height: 290px;
    line-height: 15;
    background: image-url("vendor-find.svg") 80px 57px no-repeat;
}
.how-it-icon-list {
    width: 290px;
    height: 290px;
    line-height: 15;
    background: image-url("list.svg") 80px 57px no-repeat;
}

.how-it-icon-vendor-done {
    width: 290px;
    height: 290px;
    line-height: 15;
    background: image-url("vendor-done.svg") 80px 57px no-repeat;
}
.how-it-icon {
    border-radius: 100%;
    width: 290px;
    height: 290px;
    line-height: 15;
}

.how-it-desc {
    padding-top: 80px;
    padding-left: 40px;
}
/*---------------------- 
	History Timeline section
-----------------------*/
.history {
    margin-top: 60px;
}
/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    border: 3px solid #e9e6e0;
    left: 50%;
    margin-left: -5px;
}

.tldate {
    display: block;
    width: 200px;
    background: #414141;
    border: 3px solid #212121;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

.timeline li:after {
    clear: both;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
    width: 44%;
    float: left;
    background: #fff;
    border: 1px solid #e9e6e0;
    padding: 30px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
}

/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
/** timeline circle icons **/
.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 52%;
    text-align: center;
    background: #fff;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 55px;
    margin-left: -32px;
    border: 2px solid #e9e6e0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
}
/** timeline content **/
.tl-heading h1 {
    font-size: 42px;
    color: #75BE4B;
    margin-top: 20px;
}

.tl-heading h4 {
    margin: 0;
    color: #c25b4e;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}
/** media queries **/
@media (max-width: 991px) {
    .timeline li .timeline-panel {
        width: 44%;
    }
}

@media (max-width: 700px) {
    .page-header h1 {
        font-size: 1.8em;
    }

    ul.timeline:before {
        left: 40px;
    }

    .tldate {
        width: 140px;
    }

    ul.timeline li .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;
        z-index: 999;
    }

    ul.timeline > li > .tldate {
        margin: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/*------ Team Section ---------*/
.team-section {
    margin-top: 60px;
}

.team-block {
    margin-bottom: 30px;
    margin-top: 30px;
}

.team-pic {
    margin-bottom: 30px;
}

.team-pic img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.team-pic img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 5px solid #eaeaea;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  /* For Webkit browsers */
    filter: gray;
  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
  /* Transition for Webkit browsers */;
}

.team-pic img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}
/*-------------------------
	06. - Blog Page 
---------------------------*/
/*--------- Wordpress Default Blog Image Class -------------*/
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #EB0F92;
}

.alignleft {
    float: left;
    margin: 10px 20px 5px 0;
}

.alignright {
    float: right;
    margin: 20px 0 .5em 20px;
}

.alignnone {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wp-caption {
    margin: 0 0 20px 0;
    padding-top: 4px;
    max-width: 100%;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-image: initial;
    background-color: #f8f8f8;
    text-align: center;
}

.wp-caption img {
    max-width: 98%;
    height: auto;
}

p.wp-caption-text {
    margin-bottom: 0;
    color: #353535;
    font-size: 11px;
}
/*---- Default Wordpress End -----*/
.post-holder {
    margin-bottom: 20px;
}

.related-post, .post-next-prev, .post-author, .post-comments, .leave-comments {
    margin-bottom: 30px;
}

.post-holder h2, .related-post h2, .post-comments h2, .leave-comments h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 30px;
}

.post-title {
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 20px;
}

.sticky-sign {
    position: absolute;
    top: -2px;
    right: 25px;
    color: #EB0F92;
    font-size: 24px;
}

.post-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.post-image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

.post-image a:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.post-area {
}

.post-video {
}

.post-quote {
}

.post-link {
}

.post-pager {
}
/* ----------- Blog Meta ------*/
.post-meta {
    margin-bottom: 20px;
}

.date-meta, .comment-meta, .autho-meta, .tag-meta, .admin-meta {
    margin-right: 15px;
    font-size: 12px;
}

.date-meta a, .comment-meta a, .autho-meta a, .tag-meta a, .admin-meta a {
    margin-right: 15px;
    color: #706a68;
    text-transform: uppercase;
    font-weight: 600;
}

.date-meta a:hover, .comment-meta a:hover, .autho-meta a:hover, .tag-meta a:hover, .admin-meta a:hover {
    color: #EB0F92;
}

.date-meta {
}

.comment-meta {
}

.autho-meta {
}

.tag-meta {
}

.admin-meta {
}
/*----- Blog Sidebar --------*/
.link {
    color: #3c3634;
}

.widget {
}

.widget-search {
}

.widget-title {
    margin-bottom: 30px;
}

.widget-category {
}

.widget-category ul {
}

.widget-category ul li {
    margin-bottom: 10px;
}

.widget-category ul li a {
    color: #706a68;
    border-bottom: 1px solid #e9e6e0;
}

.widget-category ul li a:hover {
    color: #EB0F92;
}

.widget-recent-post {
}

.rc-post-holder {
    margin-bottom: 20px;
    border-bottom: 1px solid #e9e6e0;
}

.rc-post-holder:last-child {
    border: none;
    margin-bottom: 0px;
}

.widget-recent-post h3 {
    margin-bottom: 5px;
}

.widget-archive {
}

.widget-tag {
}

.widget-tag a {
    font-size: 11px;
    text-transform: uppercase;
    background: #fdfdfb;
    margin-bottom: 4px;
    padding: 0px 10px;
    color: #706a68;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #e9e6e0;
}

.widget-tag a:hover {
    background: #EB0F92;
    color: #fff;
    border: 1px solid #EB0F92;
}
/*------Secondary Sidebar ----------*/
.widget-cta {
}

.widget-form {
}

.widget-service {
}

/*------------------------------
	07. - Blog Single Page 
--------------------------------*/
.blog-header {
    position: relative;
}

.wide-post-image {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: -moz-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, .55) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(16, 14, 13, .55)), color-stop(100%, rgba(16, 14, 13, 0)));
    background: -webkit-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, .55) 100%);
    background: -o-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, .55) 100%);
    background: -ms-linear-gradient(top, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, .55) 100%);
    background: linear-gradient(to bottom, rgba(16, 14, 13, 0) 0%, rgba(16, 14, 13, .55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 );
}

.wide-post-image img {
    position: relative;
    z-index: -1;
}

.blog-head {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.blog-head h1 {
    color: #fff;
    font-size: 32px;
}

.blog-header .post-meta {
    color: #fff;
}

.blog-header .post-meta a {
    color: #fff;
}

.blog-header .post-meta a:hover {
    color: #EB0F92;
}

.related-post {
}

.post-next-prev {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e6e0;
}

.next-post {
    text-align: right;
}

.prev-post {
}

.link-prev-next {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    color: #706a68;
}
/*---------Post author ----------*/
.post-author {
    margin-bottom: 60px;
    margin-top: 30px;
}

.author-pic {
}

.author-bio {
}

.author-name {
}

.author-name .author-role {
    font-size: 12px;
}

.author-lable {
}

.author-social {
}

.leave-comments {
}

.leave-comments .control-label {
    text-align: left;
}

.thread-comments {
    background: #fdfdfb;
}

.review-list .panel.arrow.left.thread-left:after {
    left: 1px;
    top: 31px;
    border-right-color: #fdfdfb;
    border-width: 15px;
}

.comment-date {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #75BE4B;
}
/*-------------------------
	08. - Pricing Page 
---------------------------*/
.pricing-container {
    margin-top: 60px;
}

.pricing-box {
}

.pricing-box-regualr .well-box {
    background-color: #fdfcfa;
}

.price-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.price-plan {
    font-size: 55px;
    font-weight: 700;
}

.price-plan .dollor-sign, .price-plan .permonth {
    font-size: 16px;
    color: #706a68;
}

.pricing-box .well-box {
    margin-bottom: 0px;
    text-align: center;
    padding: 40px;
}

.pricing-box .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: -1px;
    background-color: transparent;
    border: 1px solid #e9e6e0;
    border-radius: 0px;
}

.question-block {
}

.question-block .question-answer {
    margin-bottom: 60px;
}
/*-----------------------------
	09. - Help - FAQ Page  
--------------------------------*/
.help-page {
}

.help-page .list-group-item {
    padding: 30px;
    border: 1px solid #e9e6e0;
}

.help-page .list-group-item p {
    margin-bottom: 10px;
}

.help-page .list-group-item p:last-child {
    margin-bottom: 0px;
}

.question-sign {
    color: #75BE4B;
    padding-right: 10px;
}
/*----------------------
	10.- Contact us  
-----------------------*/
.contact-info {
}

.contact-info .address,.contact-info .email, .contact-info .call {
    margin-bottom: 20px;
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 20px;
}

.contact-info .address i,.contact-info .email i, .contact-info .call i {
    padding-right: 10px;
    font-size: 16px;
    color: #706a68;
}

.contact-info .address {
}

.contact-info .email {
}

.contact-info .call {
}

.contact-info p {
    margin-bottom: 0px;
}

.contact-info li:last-child {
    margin-bottom: 0px;
    border: none;
}
/*--------------------------------------
	11. - Signup & Login Couple Page 
--------------------------------------*/
.singup-couple {
}

.vendor-login {
}

.couple-login {
}
/*------- Social login button --------*/
.social-login {
}

.facebook-btn, .twitter-btn, .google-btn {
    color: #fff;
}

.facebook-btn {
    background-color: #3b579d;
}

.facebook-btn:hover {
    background-color: #496ecc;
    color: #fff;
}

.twitter-btn {
    background-color: #26b7f6;
}

.twitter-btn:hover {
    background-color: #50c7fb;
    color: #fff;
}

.google-btn {
    background-color: #ea4335;
}

.google-btn:hover {
    background-color: #fd5142;
    color: #fff;
}

.facebook-btn i, .google-btn i, .twitter-btn i {
    padding-right: 10px;
}
/*---------------------------
	12. - 404 Error Page
----------------------------*/
.error-block {
    text-align: center;
}

.error-block h1 {
    font-size: 180px;
    color: #75BE4B;
    margin-bottom: 60px;
}

.error-block h2 {
    font-size: 24px;
}

.error-block h2 i {
    color: #fd2929;
    margin-right: 7px;
}

/*-------------------------------
	 	13. - Shortcodes 
--------------------------------*/
/*--------- Accordion ---------*/
.st-accordion {
}

.st-accordion .panel-default {
    border-color: #e9e6e0;
}

.st-accordion .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e9e6e0;
}

.st-accordion .panel-group .panel {
    border-radius: 0px;
}

.st-accordion .panel-heading {
    padding: 20px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.st-accordion .panel-title {
    position: relative;
}

.st-accordion .sign {
    position: absolute;
    right: 0px;
    top: 0px;
}
/*------ Pagination---------*/
.tp-pagination {
    text-align: center;
}

.tp-pagination .pagination {
}

.tp-pagination .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #EB0F92;
    border-color: #EB0F92;
    color: #fff;
}

.tp-pagination .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #e9e6e0;
    color: #fff;
}

.tp-pagination .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #706a68;
    text-decoration: none;
    border: 1px solid #e9e6e0;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.tp-pagination .pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tp-pagination .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*---------- Tabs --------*/
.st-tabs {
}

.st-tabs p:last-child {
    margin-bottom: 0px;
}

.st-tabs .nav-tabs {
    border-bottom: 1px solid #e9e6e0;
}

.st-tabs .nav-tabs>li>a {
    background-color: #fcfbf9;
    border-radius: 0px;
    padding: 20px 30px;
    text-transform: uppercase;
    border: 1px solid #e9e6e0;
    margin-right: -1px;
    color: #706a68;
    font-size: 14px;
}

.st-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #e9e6e0;
    border-bottom-color: transparent;
    color: #75BE4B;
    background-color: #fff;
}

.st-tabs .tab-content {
    background-color: #fff;
    padding: 28px;
    border: 1px solid #e9e6e0;
/*    margin-bottom: 30px;*/
    border-top-color: transparent;
}

.st-tabs .tab-content .customer-review, .tabbed-page .tab-content .review {
    margin-bottom: 0px;
    margin-top: 0px;
}
/*------ Call To Action ---*/
.st-cta {
}
/*------------------------------------------
	14. - Most Used / Repeatable Page CSS 
------------------------------------------*/
/*------ Page Header ------------*/
.admin-portlet .admin-portlet-header:before, .admin-portlet .admin-portlet-header:after {
    content: " ";
    display: table;
}
.admin-portlet .admin-portlet-header:after {
    clear: both;
}
.admin-portlet .admin-portlet-header h3 {
    float: left;
    padding: 10px 0;
    margin: 0 1em 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.admin-portlet-content {
    padding: 15px 15px;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
}
.admin-header {
    padding: 15px 15px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -1px;
    position: relative;
    z-index: 1; 
    border: 1px solid #D1D2D1;
    border-radius: 4px 4px 0 0;

}
.admin-content {
    padding: 15px 15px;
    border: 1px solid #D1D2D1;
    border-radius: 4px;
}
.admin-content-box {
    padding: 15px 15px;
    border: 1px solid #D1D2D1;
    border-radius: 0 0 4px 4px;
}
.admin-portlet {
    border: 1px solid #D1D2D1;
    border-radius: 4px;
    background-clip: padding-box;
}
.admin-portlet-header {
    position: relative;
    padding: 1px 15px;
    background-color: #40A763;
    border-bottom: 1px solid #40A763;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-background-clip: padding-box;
}
.admin-portlet-plain {
    background: transparent;
    border: none;
}
.admin-portlet-plain-header {
    padding: 2px;
    filter: none;
    border: none;
    border-bottom: 1px dotted #ccc;
}
.admin-portlet-plain-content {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    border: none;
}
.admin-tp-page-head {
    border-bottom: 1px solid #ddd;
    background-color: #EFEEEA;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.admin-title {
    padding: 20px 20px 0;
    font-size: 18px;
}
.admin-nav {
    color: #666;
    background: none;
    border-bottom: none;
    margin: 0;
    line-height: 20px;
    -webkit-transition: none;
    transition: none;
}
.admin-nav > li {
    display: block;
    list-style: none;
}
.admin-nav > li > a {
    color: #666;
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    text-decoration: none;
}
.admin-nav .active a {
    color: #72bf40;
    padding-left: 16px;
    border-left: 3px solid #75BE4B;
}
.admin-nav > li:hover,
.admin-nav > li:focus {
    
}

.admin-nav > li > a:hover,
.admin-nav > li > a:focus {
    color: #75BE4B;
    transition: none;
    background-color: #e9e6e0;
}
.admin-side-nav {
    padding-bottom: 20px;
    background-color: #EFEEEA;
    border-radius: 4px;
    background-clip: padding-box;
}
.tp-page-head {
	background :image-url("page-header-img.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.tp-page-head .page-header {
    border: none;
    padding: 40px 0px;
}

.tp-page-head .page-header h1 {
    color: #fff;
}
/*----- Breadcrumb --------*/
.tp-breadcrumb {
    border-bottom: 1px solid #e9e6e0;
}

.tp-breadcrumb .breadcrumb {
    background: transparent;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    padding: 5px 0px;
    font-weight: 500;
}

.tp-breadcrumb .breadcrumb >.active {
    color: #9e9795;
}
/*-------- Filter Box ---------*/
.filter-box {
    z-index: 99;
}

.filter-form {
    background: #fff;
    border: 1px solid #e9e6e0;
    padding: 30px 20px;
    margin-top: -1px;
    margin-right: 0px;
    margin-left: 0px;
}

.filter-form .control-label {
    display: none;
}

form .btn-default {
    height: 48px;
    background-color: #faf9f5;
    margin-bottom: 0px;
    border: 1px solid #e9e6e0;
    color: #2b212f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #55575a;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form.btn-default.active.focus,
.btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus,
.btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #faf9f5;
    border-color: #e9e6e0;
}
/*------Sidebar Filter  ------*/
.filter-sidebar {
    background: #fff;
    border: 1px solid #e9e6e0;
    padding: 20px 0px;
    margin-top: -1px;
    margin-right: 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.filter-sidebar h2 {
    font-size: 16px;
}

.filter-sidebar .form-title {
    border-bottom: 1px solid #e9e6e0;
    margin-bottom: 20px;
}

.filter-sidebar .form-group {
    margin-bottom: 0px;
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 30px;
}

.filter-sidebar .form-group:last-child {
    border: none;
    margin: 0;
    padding-bottom: 0px;
}

.filter-sidebar .control-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
/*---- White Box class------*/
.well-box {
    background-color: #fff;
    padding: 28px;
    border: 1px solid #e9e6e0;
    margin-bottom: 30px;
}
.sign-up-box {
    float: right;
    padding: 28px;
    margin-bottom: 30px;
}
.well-box p {
    margin-bottom: 0px;
}
/*----- Feature ------*/
.padding-feature {
    padding: 30px;
    background-color: #e5e5e5;
}

.outline-feature {
    padding: 30px;
    border: 2px solid #e5e5e5;
}
/*----- Feature Regular icon blocks-----*/
.feature-block {
}

.feature-icon-all-vendor {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("all-vendor.svg") 0px 0px no-repeat; 
}
.feature-icon-graph {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("graph.svg") 0px 0px no-repeat; 
}
.feature-icon-table {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("table.svg") 0px 0px no-repeat; 
}
.feature-icon-heart {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("heart.svg") 0px 0px no-repeat; 
}
.feature-icon-pricing {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("pricing.svg") 0px 0px no-repeat; 
}
.feature-icon-envelop {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("envelop.svg") 0px 0px no-repeat; 
}
.feature-icon-vendor {
    width: 360px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("vendor.svg") 140px 0px no-repeat; 
}
.feature-icon-mail {
    width: 360px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("mail.svg") 140px 0px no-repeat; 
}
.feature-icon-couple {
    width: 360px;
    height: 80px;
    margin-bottom: 15px;
    background: image-url("couple.svg") 140px 0px no-repeat; 
}

.feature-icon {
    margin-bottom: 15px;
}
/*----- Feature Center -----*/
.feature-center {
    text-align: center;
    margin-bottom: 30px;
}

.feature-center img {
}
 /*----- Feature Icon Left -----*/
.feature-left {
    margin-bottom: 30px;
}

.feature-left p {
    margin-bottom: 0px;
}

.feature-left .feature-icon {
}

.feature-left .feature-icon img {
    width: 100%;
}

.feature-info {
}
/*------- Sidebar affix -------*/
#sidebar.affix {
    position: fixed;
    top: 105px;
    width: 251px;
}

.side-nav {
}

.side-nav ul {
}

.side-nav ul li {
    background-color: #fff;
    border: 1px solid #e9e6e0;
    margin-top: -1px;
    color: #fff;
    cursor: pointer;
}

.side-nav ul li a {
    color: #706a68;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 18px 30px;
}

.side-nav ul li:hover {
    color: #fff;
    background: #EB0F92;
    border: 1px solid #EB0F92;
}
.side-nav ul li a:hover {
    color: #fff;
    background: #EB0F92;
    border: 1px solid #EB0F92;
}
.side-nav ul li.active {
    color: #fff;
    background: #EB0F92;
    border: 1px solid #EB0F92;
}

.side-nav ul li.active a {
    color: #fff;
    background-color: #eb0f92;
}
.side-nav>li>a:focus, .side-nav>li>a:hover {
    color: #fff;
    background-color: #eb0f92;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background-color: #ddd;
    text-decoration: none;
}

/*--------------------------------
	15. - Woo Shopping 
----------------------------------*/
.woo-homepage {
}

.slider-caption {
    position: absolute;
    bottom: 200px;
}

.slider-caption h1 {
    font-size: 52px;
    color: #00adae;
    text-transform: uppercase;
    font-weight: 600;
}

.woo-product-tabs {
}

.woo-product-tabs .nav-tabs {
    border-bottom: 0px solid #e9e6e0;
    margin: 1px auto;
    width: 40%;
}

.woo-product-tabs .tab-content {
    background-color: #fff;
    padding: 30px;
    border-top: 1px solid #e9e6e0;
    border-bottom: 1px solid #e9e6e0;
    margin-bottom: 0px;
}

.woo-product-tabs .nav-tabs>li {
    float: left;
    margin-bottom: -2px;
}
/*----------- Woo Parallux Section----------------*/
section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    font-size: 42px;
    color: #fff;
}

section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
}

section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.module.parallax h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

section.module.parallax-2 {
    background-image: url("woo-parallax.jpg");
}
/*---------- parallax caption ----------*/
.parallax-caption {
    margin-top: 10%;
    text-align: center;
    border: 1px solid #fff;
    padding: 60px 80px;
}

.category-section {
    margin-top: 40px;
    margin-bottom: 80px;
}

.product-category {
    margin-bottom: 30px;
}

.category-thumb {
    position: relative;
}

.btn-label {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.woo-shop .shop-listing {
}

.products {
    margin-bottom: 30px;
}

.products .product-box {
    margin-top: 30px;
}

.products .product-box {
}

.products .product-box a {
}

.product-box .product-wrap {
    background-color: #f9f9f9;
    border: 1px solid #e9e6e0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.product-info {
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 30px;
}

.woo-shop .shop-listing .products .product-box .product-wrap:hover {
}

.woo-shop .shop-listing .products .product-box .product-wrap img {
    width: 100%;
}

.products .product-box .offer {
    background-color: #EB0F92;
    padding: 0px 15px;
    position: absolute;
    color: #fff;
    font-size: 12px;
}

.woo-shop .shop-listing .products .product-box p.rating {
    font-size: 16px;
    color: #2e3f4f;
    margin-bottom: 30px;
}

.products .product-box p.rating span a {
    color: #ddd;
}

.products .product-box p.rating span a:hover {
    color: #fac11c;
}

.products .product-box p.rating span a.rating-done {
    color: #fac11c;
}

.products .product-box p.price {
    font-size: 18px;
    color: #00adae;
    margin-bottom: 10px;
    letter-spacing: -1px;
    font-family: 'Montserrat', sans-serif;
}

.products .product-box p.price .price-del {
    text-decoration: line-through;
    color: #666;
    padding-right: 10px;
}

.products .product-box a.tp-btn-default i {
    padding-right: 10px;
}
/*---------- shop-sidebar -----------*/
.shop-sidebar {
}

.shop-sidebar .price-filter {
}

.shop-sidebar .price-filter h2 {
}

.shop-sidebar .price-filter .price-wrapper {
    margin-left: 8px;
    margin-top: 10px;
}

.shop-sidebar .price-filter .price-slider-light {
    background-color: #e5e5e5;
    width: 100%;
    border: 2px solid #e5e5e5;
    height: 6px;
}

.shop-sidebar .price-filter .price-slider {
    background-color: #ababab;
    width: 80%;
    border: 2px solid #ababab;
    height: 6px;
    margin-top: -2px;
    margin-left: -2px;
}

.categories-widget li a {
    font-size: 14px;
}

.slider-handle {
    background-color: #588F38;
    width: 14px;
    height: 14px;
    border: 1px solid #588F38;
    border-radius: 8px;
    position: absolute;
    margin: -6px 0 0 -8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px #fac11c inset, 0 0px 0px #fac11c inset;
}

.handle-right {
    right: 26%;
}

.price_slider_amount {
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
/*----- top rated products sidebar -----*/
.shop-sidebar .top-listing .products {
    margin-top: 30px;
}

.shop-sidebar .top-listing .product-box .product-wrap {
    margin-bottom: 30px;
    border: 1px solid #e9e6e0;
    margin-right: 10px;
}

.shop-sidebar .top-listing .product-wrap:hover {
}

.shop-sidebar .top-listing .product-box {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #e9e6e0;
}

.top-listing .product-box:last-child {
    border-bottom: transparent;
    margin-bottom: 0px;
}

.shop-sidebar .top-listing .product-box h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.top-listing .product-box p.price {
    font-size: 14px;
    color: #00adae;
    margin-bottom: 0px;
    font-weight: 700;
}

.shop-sidebar .top-listing .product-box p.rating a {
    font-size: 16px;
    color: #ddd;
}

.shop-sidebar .top-listing .product-box p.rating a:hover {
    font-size: 16px;
    color: #fac11c;
}

.shop-sidebar .top-listing .product-box p.rating span a.rating-done {
    color: #fac11c;
}
/*---------- Woo Shopping Details -----------*/
.woo-shop .shop-details {
}

.shop-details {
}

.shop-details .product-title {
}

.shop-details .product-summry .product-box .product-wrap {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.shop-details .product-summry .product-box .product-wrap img {
    width: 100%;
}

.shop-details .product-summry {
    margin-bottom: 30px;
    margin-top: 30px;
}

.shop-details .product-summry .summry-details p.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #75BE4B;
    margin-bottom: 10px;
    font-weight: 700;
}

.woo-shop .shop-details .product-summry .summry-details p.rating a {
    font-size: 16px;
    color: #ddd;
}

.woo-shop .shop-details .product-summry .summry-details p.rating a:hover {
    color: #fac11c;
}

.woo-shop .shop-details .product-summry .summry-details p.rating span a.rating-done {
    color: #fac11c;
}

a.btn-outline i {
    padding-right: 10px;
}

.shop-details .product-summry .product-box .product-thumbnails {
    margin-top: 20px;
}

.shop-details .product-summry .product-box .product-thumbnails .thumb-box {
    background-color: #e9e6e0;
    float: left;
    margin-right: 10px;
    border: 1px solid #e9e6e0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100px;
}

.shop-details .product-summry .product-box .product-thumbnails .thumb-box:hover {
    border: 1px solid #e9e6e0;
}

.shop-details .product-summry .product-box .product-thumbnails .active {
    border: 1px solid #e9e6e0;
}

.shop-details .product-summry .summry-details .product_meta {
    margin-top: 20px;
    font-size: 14px;
}

.shop-details .product-summry .summry-details .product_meta .posted_in {
    margin-right: 10px;
}

.shop-details .product-summry .summry-details .product_meta .posted_in a, .tagged_as a {
    font-size: 14px;
}

.shop-details .product-summry .summry-details .quantity {
    margin-bottom: 15px;
}

.shop-details .product-summry .summry-details .quantity input[type=number] {
    padding-left: 10px;
    width: 14%;
    background-color: #fdfdfb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e9e6e0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    font-family: 'Montserrat', sans-serif;
    height: 30px;
}

.shop-details .product-summry .summry-details .quantity input[type=button] {
    background-color: #e9e6e0;
    color: #706a68;
    padding: 0px 10px;
    margin-top: -4px;
    height: 29px;
}
/*-------- Woo-commerce-tabs  ----------*/
.woo-commerce-tabs {
}

table.shop_attributes th {
    color: #588F38;
}

table.shop_attributes td p {
    margin: 0;
    padding: 8px 30px;
}

.reviews {
}

.woo-comments {
}

.woo-comments .commentslist {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.woo-comments .commentslist .comment-text {
}

.woo-comments .commentslist .comment-text h3 {
    font-size: 18px;
}

.woo-comments .commentslist .comment-text p.rating {
    margin-bottom: 10px;
}

.woo-comments .commentslist .comment-text p.rating a {
    font-size: 16px;
    color: #ddd;
}

.woo-comments .commentslist .comment-text p.rating a:hover {
    color: #fac11c;
}

.woo-comments .commentslist .comment-text span a.rating-done {
    color: #fac11c;
}
/**************** review form **************/
.review-form {
}

.review-form .comment-form {
    margin-top: 40px;
}

.review-form .comment-form label {
    font-weight: 300;
    text-align: left;
}

.review-form .comment-form .form-control {
    background-color: #fff;
}

.stars {
    margin-top: 5px;
}

.stars a {
    padding-right: 20px;
    font-size: 16px;
    color: #ddd;
}

.stars a:hover {
    color: #fac11c;
}

.stars a i {
    padding-right: 3px;
}
/*---------- View Cart Page  --------*/
#view-cart {
}

.view-cart {
}

.view-cart table {
    width: 100%;
}

.view-cart .shop_table {
    border-radius: 0;
    border: 1px solid #e9e6e0;
    background-color: #fff;
}

.view-cart .shop_table tr th {
    background: #fcfbf9;
    padding: 17px;
    border-bottom: 1px solid #e9e6e0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #3c3634;
    text-transform: uppercase;
    font-size: 13px;
}

.view-cart .shop_table tr td {
    border-top: 1px solid #e9e6e0;
    padding: 20px;
}

.view-cart .cart_item {
}

.view-cart .cart_item .product-remove a {
    color: red;
}

.view-cart .cart_item .product-thumbnail {
}

.view-cart .cart_item .product-thumbnail img {
    border: none;
    background: #f9f9f9;
    border: 1px solid #f9f9f9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100px;
}

.view-cart .cart_item .product-thumbnail img:hover {
    border: none;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.view-cart .cart_item .product-quantity input[type=number] {
    border: 1px solid #e9e6e0;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 18px;
    padding: 10px 10px;
    background: #fff;
    width: 25%;
}

.view-cart .shop_table tr td.actions {
}

.view-cart .shop_table tr td.actions .button-update {
    float: right;
    margin-right: 10px;
}

.view-cart .shop_table tr td.actions .checkout-button {
    float: right;
    background-color: #EB0F92;
}

.coupon {
    float: left;
}

.coupon .input-text {
    background-color: #fff;
    border: 1px solid #e9e6e0;
    border-radius: 0px;
    height: 51px;
    font-weight: 300;
    padding-left: 10px;
}

.view-cart button, input[type=button], input[type=reset], input[type=submit] {
    border: 0px solid #e9e6e0;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: #588F38;
    color: #fff;
    text-transform: uppercase;
    height: 48px;
}

.view-cart button, html input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    border: 0px solid #588F38;
    background: #588F38;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 14px;
    padding: 10px 20px;
    color: #fff;
}

.shop-viewcart .cart-collaterals {
    margin-top: 60px;
}

.shop-viewcart .cart-collaterals .cart_totals table {
    border-radius: 0;
    border: 1px solid #e9e6e0;
    width: 100%;
    background-color: #fff;
}

.shop-viewcart .cart-collaterals .cart_totals table tr th {
    padding: 10px;
    border: none;
    border-top: 1px solid #e9e6e0;
    font-weight: 100;
}

.cart_totals table>tbody>tr>td {
    text-align: right;
    border-top: 1px solid #e9e6e0;
    padding: 20px;
}

.shipping_calculator .form-control {
    margin-bottom: 30px;
}

.shipping_calculator .billing-details .form-control {
    background-color: #17222c;
    border: 1px solid #324656;
    border-radius: 0px;
    height: 55px;
    color: #90a3b5;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 30px;
}

.billing-details {
} 
/*-------- Order Review --------*/
.order_review {
}

.order_review .shop_table {
    border-radius: 0;
    border: 1px solid #e9e6e0;
    width: 100%;
}

.order_review .shop_table tr th.product-name, .order_review .shop_table tr th.product-total, .order-total th {
    color: #588F38;
}

.order_review .shop_table tr th, .order_review .shop_table tr td {
    padding: 15px 10px;
    border-top: 1px solid #e9e6e0;
    font-weight: 300;
}

.payment-option {
}

.payment-option .well {
    background: #f9f9f9;
    border: none;
    margin-top: 20px;
}

.payment-option .btn-submit {
    margin-top: 60px;
}

.payment-option .well p {
    margin: 0px;
}

.payment-option label {
    padding-right: 10px;
}

.paypal-icon {
    padding-left: 10px;
}
/*--------- Woo Login --------*/
.woo-login-info {
}

.woo-login-box {
    padding: 30px;
    margin-top: 30px;
}

.login-info {
}

.login-info p, .coupon-info p {
    margin-bottom: 0px;
}

.coupon-form {
    margin-top: 30px;
}

.no-bottom {
    margin-bottom: 0px;
}

.lost-passowrd {
    color: red;
}

/*--------------------------------
	15. - Custom Used CSS - Creative checkbox and Listing Effect CSS
----------------------------------*/
/*----- checkbox and radio button css ----------*/
.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e0dcd1;
    border-radius: 3px;
    background-color: #faf9f5;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 5px;
    padding-top: 0px;
    font-size: 11px;
    color: #555555;
    margin-top: -3px;
}

.checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before,
    .checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,
    .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label,
    .checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
      .checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e0dcd1;
    border-radius: 50%;
    background-color: #faf9f5;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}
/*---------Creative Listing Effect --------*/
/*
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
*/
/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
	/*min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;*/
    background: #003e3e;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 10px;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    font-size: 15px;
    line-height: 21px;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
    background: #003e3e;
}

figure.effect-bubba img {
    opacity: 0.8;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.2;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #75BE4B;
    border-bottom: 1px solid #75BE4B;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #75BE4B;
    border-left: 1px solid #75BE4B;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    padding-top: 15%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

figure.effect-bubba h2, figure.effect-bubba p {
    color: #fff;
}

figure.effect-bubba p {
    padding: 10px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #003e3e 0%, #003e3e 40%, #003e3e 100%);
    background: linear-gradient(45deg, #003e3e 0%,#003e3e 40%,#003e3e 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 20px;
    background-color: rgba(6,130,130,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #75BE4B;
    content: '';
}

figure.effect-oscar h2 {
    margin: 15% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-oscar h2,figure.effect-oscar p {
    color: #fff;
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

/*------------------------------------
	Dashboard Pages
-------------------------------------*/
/*------ Page Header ------------*/
.tp-dashboard-head {
    background: image-url("dashboard-page-header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.tp-dashboard-head .profile-header {
    border: none;
    padding: 60px 0px;
}

.tp-dashboard-head .profile-header h1 {
    color: #fff;
}

.tp-dashboard-head .profile-info {
    padding-top: 45px;
}

.tp-dashboard-head .profile-pic {
    text-align: center;
}

.profile-title {
    text-transform: uppercase;
    font-weight: 600;
}

.profile-title small {
    font-size: 12px;
    color: #75BE4B;
    padding-left: 20px;
}

.tp-dashboard-nav {
    background-color: #fff;
    border-bottom: 1px solid #f2f0ea;
}

.dashboard-nav {
}

.dashboard-nav .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #75BE4B;
    background-color: #faf9f5;
}

.dashboard-nav .nav-pills>li>a {
    border-radius: 0px;
    color: #706a68;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 34px;
    line-height: 12px;
}

.dashboard-nav .nav-pills>li>a:hover {
    color: #75BE4B;
}

.db-icon {
    padding-right: 10px;
    font-size: 14px;
}

.profile-dashboard {
}

.dashboard-form {
}

.dashboard-form .control-label {
    text-align: left;
}

.dashboard-form h2 {
    border-bottom: 1px solid #e8e6df;
    padding-bottom: 19px;
    margin-bottom: 30px;
}

.photo-upload {
    margin-bottom: 30px;
}

.upload-file {
    padding-top: 60px;
}
/*----------------------------*
	 add-listing-dashboard
------------------------------*/
.add-listing-dashboard {
}

/*---------------------------
	my-listing-dashboard
-----------------------------*/
.my-listing-dashboard {
}

.table-head {
    background-color: #fff;
    border: 1px solid #edebe4;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.listing-row {
    border-bottom: 1px solid #edebe4;
    padding: 20px 10px;
}

.listing-thumb {
}

.listing-title {
}

.listing-address {
}

.listing-price {
    font-weight: 600;
}

.listing-action {
}

.listing-action .btn-primary {
    background-color: #0fb3b4;
    border: none;
}

.listing-action .btn-primary:hover {
    background-color: #09a2a3;
    border: none;
}

.listing-action .btn-danger {
    background-color: #fb886d;
    border: none;
}

.listing-action .btn-danger:hover {
    background-color: #f67557;
    border: none;
}

/*-----------------------
	Vendor Profile
-------------------------*/
.vendor-profile-block {
    margin-bottom: 30px;
}

.vendor-profile {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e9e6e0;
}

.vendr-profile-info, .profile-feature, .profile-gallery {
    border-bottom: 1px solid #e9e6e0;
    margin-bottom: 30px;
}

.profile-feature {
    padding-bottom: 30px;
}

.profile-feature-title {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.profile-address i, .profile-email i, .profile-website i {
    color: #75BE4B;
    padding-right: 20px;
}

.vendr-profile-info .profile-website i {
    padding-left: 10px;
}

.profile-gallery {
    padding-bottom: 10px;
}

#profile-gallery #sync2 .item {
    background-color: transparent;
    padding: 0px;
}
/*------------------------------------
	17. - @media query css template 
--------------------------------------*/
@media (max-width: 767px) {

    .top-message, .side-nav {
        display: none;
    }

    .tp-nav {
        padding-top: 10px;
        z-index: 9999;
        position: relative;
        padding-bottom: 14px;
    }

    .find-section {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .finder-caption h1 {
        font-size: 24px;
    }

    .finder-caption h1, .finder-caption p {
        margin-bottom: 20px;
        color: #ddd;
    }

    .finderform .col-md-5 {
        padding-right: 15px;
        margin-bottom: 18px;
    }

    .tab-title {
        display: none;
    }

    .tabbed-page .nav-tabs>li>a {
        background-color: #fff;
        border-radius: 0px;
        padding: 7px 13px;
        text-transform: uppercase;
        border: 1px solid #e9e6e0;
        margin-right: -1px;
        color: #706a68;
        font-size: 18px;
    }

    .tp-nav .navbar-default .navbar-nav>li>a {
        padding: 15px;
    }

    .tp-nav .dropdown-submenu>.dropdown-menu li {
        padding-left: 10px;
    }

    .tp-nav .navbar-default .navbar-nav>li>a {
        border-bottom: 1px solid #75be4b;
    }

    .venue-head, .blog-head {
        position: inherit;
        bottom: 0px;
        width: 100%;
        margin-top: 30px;
    }

    .venue-head h1, .blog-head h1 {
        font-size: 42px;
        color: #3c3634;
        margin-bottom: 10px;
    }

    .venue-head .location {
        color: #706a68;
    }

    .venue-head .title {
        border-bottom: 1px solid #e9e6e0;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .blog-header .post-meta {
        color: #706a68;
    }

    .blog-header .post-meta a {
        color: #706a68;
    }

    .timeline li .timeline-panel {
        padding: 20px;
    }

    .error-block h1 {
        font-size: 120px;
        color: #75BE4B;
        margin-bottom: 40px;
    }
/*------------ woo commerce --------*/
    .woo-product-tabs .nav-tabs {
        border-bottom: 0px solid #e9e6e0;
        margin: 0px;
        width: 100%;
    }

    .parallax-caption {
        margin-top: 30%;
        text-align: center;
        border: 1px solid #fff;
        padding: 20px 40px;
    }

    section.module.parallax h1 {
        color: #fff;
        font-size: 38px;
        font-weight: 700;
        text-align: center;
    }
}
/* Custom sizes (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .find-section {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 1;
    }

    .finder-caption h1 {
        font-size: 24px;
    }

    .finder-caption h1, .finder-caption p {
        margin-bottom: 20px;
        color: #3c3634;
    }

    .finderform .col-md-5 {
        padding-right: 15px;
        margin-bottom: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {
 
    .find-section {
        position: absolute;
        top: 25%;
        margin: 0 auto;
        left: 10%;
        right: 0%;
        text-align: center;
        color: #fff;
        z-index: 1;
    }

    .finderform .col-md-5 {
        padding-right: 15px;
        margin-right: -12px;
    }
}

/*----------------- Guideline -----------*/
.guideline-header {
    background-color: #75BE4B;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 28px;
}

.hd-title {
    color: #fff;
    margin-bottom: 0px;
}

.guideline-section {
    margin-bottom: 50px;
    border-bottom: 1px solid #e9e6e0;
    padding-bottom: 49px;
}

.gd-title {
    text-transform: uppercase;
    margin-bottom: 90px;
    letter-spacing: 1px;
    font-size: 32px;
}

.gd-color-well {
    background-color: #fff;
    width: 165px;
    height: 260px;
    margin-bottom: 20px;
}

.gd-color-box {
    width: 165px;
    height: 165px;
}

.color-default {
    background-color: #75BE4B;
}

.color-primary {
    background-color: #EB0F92;
}

.color-heading {
    background-color: #3c3634;
}

.color-body {
    background-color: #706a68;
}

.color-section {
    background-color: #f4f2ec;
}

.gd-color-info {
    padding: 20px;
}

.gd-color-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.gd-buttons {
    margin-bottom: 30px;
}

.gd-form {
}

.gd-form .form-control {
    margin-bottom: 20px;
}
