// custom styles for Arusifiti Application

.form-control:focus {
    border-color: #75be4b;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    font-size: 20px;
}