
<!-- Tob bar infor and links -->

<div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-6 top-message"><p>Welcome to Arusifiti | For the Perfect Wedding</p></div>
			<div class="col-md-6 top-links">
				<ul class="listnone">
					<li><%= link_to("Are you a Couple?", '#' ) %></li>
					<li><%= link_to("Are you a vendor?", '#' ) %></li>
					<li><%= link_to("Log in", '#' ) %></li>
				</ul>
			</div>
		</div>    
	</div>
</div>
 
<!-- navigation start -->


<div class="tp-nav" id="headersticky">
	<div class="container">
		<nav class="navbar navbar-default "> 

			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					<%=link_to("", root_path, :class => "navbar-brand img-responsive" ) %>
			</div>

			<!-- END Brand and toggle get grouped for better mobile display  -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown"><%= link_to '#', class: "dropdown-toggle", 'data-toggle': 'dropdown' do %> Vendors <span class="fa fa-angle-down"></span> <% end %>
							
							<ul class="dropdown-menu">
								<li><%= link_to("Venue", '#' ) %></li>
								<li><%= link_to("Cake", '#' ) %></li>
								<li><%= link_to("Dresses", '#' ) %></li>
								<li><%= link_to("Photographer", '#' ) %></li>
								<li><%= link_to("Videography", '#' ) %></li>
								<li class="divide"></li>
								<li class="small"><%= link_to("See more &rarr;".html_safe , '#') %></li> 
							</ul>

						</li>
						<li class="dropdown"><%= link_to '#', class: "dropdown-toggle", 'data-toggle': 'dropdown' do %> Wedding Atire <span class="fa fa-angle-down"></span> <% end %>
							
							<ul class="dropdown-menu">
								<li><%= link_to("Dresses", '#' ) %></li>
								<li><%= link_to("Bridal Wear", '#' ) %></li>
								<li><%= link_to("Men wear", '#' ) %></li>
							</ul>

						</li>

						<li><%= link_to("Shop", ) %></li> 

						<li class="dropdown"><%= link_to '#', class: "dropdown-toggle", 'data-toggle': 'dropdown' do %> On-board <span class="fa fa-angle-down"></span> <% end %>
							
							<ul class="dropdown-menu">
								<li><%= link_to("Destinations", '#' ) %></li>
								<li><%= link_to("Honeymoon", '#' ) %></li>
								<li><%= link_to("Holiday", '#' ) %></li>
							</ul>
						</li>
						<li class="dropdown"><%= link_to '#', class: "dropdown-toggle", 'data-toggle': 'dropdown' do %> Planning <span class="fa fa-angle-down"></span> <% end %>
							
							<ul class="dropdown-menu">
								<li><%= link_to("Budget", '#' ) %></li>
								<li><%= link_to("Check List", '#' ) %></li>
							</ul>

						</li>
						<li class="dropdown"><%= link_to '#', class: "dropdown-toggle", 'data-toggle': 'dropdown' do %> Registry <span class="fa fa-angle-down"></span> <% end %>
							
							<ul class="dropdown-menu">
								<li><%= link_to("Save-the-date", '#' ) %></li>
								<li><%= link_to("Engagement", '#' ) %></li>
								<li><%= link_to("Wedding Website", '#' ) %></li>
							</ul>

						</li>
					</ul>
				</div>      
				<!-- /.navbar-collapse --> 

			</nav>
		</div>
		<!-- /.container-fluid --> 
	</div>