<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= full_title(yield(:title)) %></title>

	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'true' %>
	
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>

</head>
<body>
	<!-- header -->
	<%= render 'layouts/header' %>

	<%= yield %>

	<!-- Footer -->
	<%= render 'layouts/footer' %>

	<!-- /. Tiny Footer -->
	<%= javascript_include_tag "application" %>
<!-- 	<%= yield :js %> -->
</body>
</html>
